In [2]:
import math 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

%matplotlib inline

In [3]:
df = pd.read_csv("houses.csv")

EDA

In [4]:
df.head()

,property_name,link,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,...,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,property_id
0,5 Bedroom House for sale in Sector 70A Gurgaon,https://www.99acres.com/5-bhk-bedroom-independ...,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,...,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5...",K70037724
1,5 Bedroom House for sale in Sector 21A Faridabad,https://www.99acres.com/5-bhk-bedroom-independ...,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,...,"Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN,E69288322
2,10 Bedroom House for sale in Sushant Lok Phase 1,https://www.99acres.com/10-bhk-bedroom-indepen...,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,...,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",F69536898
3,21 Bedroom House for sale in Sector 54 Gurgaon,https://www.99acres.com/21-bhk-bedroom-indepen...,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,...,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5...",R69483164
4,12 Bedroom House for sale in Sushant Lok Phase 1,https://www.99acres.com/12-bhk-bedroom-indepen...,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,...,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",M69381272

In [5]:
df = df.drop(['link'], axis =1)
df = df.drop(['property_id'], axis =1)

In [6]:
df.head()

,property_name,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,5 Bedroom House for sale in Sector 70A Gurgaon,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,"29b, Sector 70A Gurgaon, Gurgaon, Haryana",3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5..."
1,5 Bedroom House for sale in Sector 21A Faridabad,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room","Sector 21A Faridabad, Gurgaon, Haryana",2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN
2,10 Bedroom House for sale in Sushant Lok Phase 1,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,"Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
3,21 Bedroom House for sale in Sector 54 Gurgaon,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,"Sector 54 Gurgaon, Gurgaon, Haryana",5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5..."
4,12 Bedroom House for sale in Sushant Lok Phase 1,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,"1228, Sushant Lok Phase 1, Gurgaon, Haryana",5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5..."

In [ ]:
#df['property_name'].unique()

array(['5 Bedroom House for sale in Sector 70A Gurgaon',
       '5 Bedroom House for sale in Sector 21A Faridabad',
       '10 Bedroom House for sale in Sushant Lok Phase 1',
       '21 Bedroom House for sale in Sector 54 Gurgaon',
       '12 Bedroom House for sale in Sushant Lok Phase 1',
       '20 Bedroom House for sale in Sushant Lok Phase 1',
       '5 Bedroom House for sale in Sector 66 Gurgaon',
       '16 Bedroom House for sale in DLF Phase 1',
       '6 Bedroom House for sale in DLF Phase 2',
       '3 Bedroom House for sale in Sushant Lok Phase 1',
       '4 Bedroom House for sale in DLF Phase 2',
       '6 Bedroom House for sale in DLF Phase 4',
       '13 Bedroom House for sale in DLF Phase 3',
       '5 Bedroom House for sale in DLF Phase 1',
       '5 Bedroom House for sale in B Block Sushant Lok Phase 1',
       '6 Bedroom House for sale in New Palam Vihar Phase 1',
       '9 Bedroom House for sale in DLF Phase 2',
       '7 Bedroom House for sale in Sector 38 Gurgaon',
       '4 Bedroom House for sale in Nirvana Country',
       '6 Bedroom House for sale in Uppals Southend',
       '9 Bedroom House for sale in Sector 9 Gurgaon',
       '4 Bedroom House for sale in Sector 48 Gurgaon',
       '5 Bedroom House for sale in Sushant Lok Phase 1',
       '5 Bedroom House for sale in Sector 4 Gurgaon',
       '9 Bedroom House for sale in Sector 40 Gurgaon',
       '5 Bedroom House for sale in Nirvana Country',
       '4 Bedroom House for sale in Sector 67 Gurgaon',
       '5 Bedroom House for sale in DLF Phase 2',
       '10 Bedroom House for sale in DLF Phase 2',
       '4 Bedroom House for sale in Hsiidc Plot Sector 1 Imt Manesar',
       '2 Bedroom House for sale in Sector 7 Gurgaon',
       '4 Bedroom House for sale in Sushant Lok Phase 3',
       '12 Bedroom House for sale in DLF Phase 2',
       '3 Bedroom House for sale in Sector 15 Part 2',
       '4 Bedroom House for sale in Sector 28 Gurgaon',
       '2 Bedroom House for sale in Narsinghpur',
       '12 Bedroom House for sale in Sector 55 Gurgaon',
       '16 Bedroom House for sale in Sushant Lok Phase 1',
       '12 Bedroom House for sale in Sector 56 Gurgaon',
       '16 Bedroom House for sale in Sector 56 Gurgaon',
       '4 Bedroom House for sale in Sector 70A Gurgaon',
       '4 Bedroom House for sale in C Block Sushant Lok Phase 1',
       '3 Bedroom House for sale in Palam Vihar',
       '8 Bedroom House for sale in Palam Vihar',
       '5 Bedroom House for sale in Greenwood City',
       '4 Bedroom House for sale in Sector 112 Gurgaon',
       '3 Bedroom House for sale in Sector 48 Gurgaon',
       '4 Bedroom House for sale in Sector 55 Gurgaon',
       '4 Bedroom House for sale in Sector 91 Gurgaon',
       '4 Bedroom House for sale in Sector 86 Gurgaon',
       '5 Bedroom House for sale in Sector 111 Gurgaon',
       '3 Bedroom House for sale in Sector 40 Gurgaon',
       '5 Bedroom House for sale in Sector 109 Gurgaon',
       '4 Bedroom House for sale in Sector 109 Gurgaon',
       '5 Bedroom House for sale in Sector 14 Gurgaon',
       '5 Bedroom House for sale in C Block Sushant Lok Phase 1',
       '4 Bedroom House for sale in Sector 66 Gurgaon',
       '3 Bedroom House for sale in Sector 109 Gurgaon',
       '3 Bedroom House for sale in Sector 73 Gurgaon',
       '12 Bedroom House for sale in Sector 40 Gurgaon',
       '4 Bedroom House for sale in Sector 23 Gurgaon',
       '4 Bedroom House for sale in Sector 72 Gurgaon',
       '5 Bedroom House for sale in Sector 63A Gurgaon',
       '3 Bedroom House for sale in Sector 63A Gurgaon',
       '5 Bedroom House for sale in Sector 48 Gurgaon',
       '4 Bedroom House for sale in Sector 65 Gurgaon',
       '4 Bedroom House for sale in Sector-33 Sohna',
       '3 Bedroom House for sale in Sector 4 Gurgaon',
       '5 Bedroom House for sale in Sector 82 Gurgaon',
       '3 Bedroom House for sale in Laxman Vihar Phase 2',
       '3 Bedroom House for sale in Sector 9 Gurgaon',
       '4 Bedroom House for sale in Sector 82 Gurgaon',
       '2 Bedroom House for sale in New Colony',
       '4 Bedroom House for sale in Sector 7 Gurgaon',
       '3 Bedroom House for sale in Sector 7 Gurgaon',
       '7 Bedroom House for sale in Sector 109 Gurgaon',
       '5 Bedroom House for sale in Sector 56 Gurgaon',
       '5 Bedroom House for sale in Sector 17C Gurgaon',
       '3 Bedroom House for sale in Rajendra Park',
       '2 Bedroom House for sale in Laxman Vihar Phase 2',
       '1 Bedroom House for sale in Laxman Vihar Phase 2',
       '6 Bedroom House for sale in Sushant Lok Phase 1',
       '9 Bedroom House for sale in Sector 57 Gurgaon',
       '18 Bedroom House for sale in Sector 55 Gurgaon',
       '16 Bedroom House for sale in Shivaji Nagar',
       '4 Bedroom House for sale in Sector 31 Gurgaon',
       '7 Bedroom House for sale in Sushant Lok Phase 1',
       '1 Bedroom House for sale in Sushant Lok Phase 1',
       '3 Bedroom House for sale in Nirvana Country',
       '5 Bedroom House for sale in Palam Vihar',
       '9 Bedroom House for sale in Dharam Colony',
       '3 Bedroom House for sale in Krishna Colony',
       '3 Bedroom House for sale in Laxman Vihar',
       '3 Bedroom House for sale in DLF Phase 3',
       '4 Bedroom House for sale in Ashok Vihar Phase 3 Extension',
       '9 Bedroom House for sale in Sector 9A Gurgaon',
       '3 Bedroom House for sale in Sector 3 Gurgaon',
       '3 Bedroom House for sale in Hira Nagar',
       '4 Bedroom House for sale in Gopal Nagar, Garhi Ghasita, Sonipat',
       '5 Bedroom House for sale in Jat Colony,Fazilpur/Taj Nagar Road',
       '7 Bedroom House for sale in South City 1',
       '19 Bedroom House for sale in Sector 17A Gurgaon',
       '4 Bedroom House for sale in Sector 56 Gurgaon',
       '2 Bedroom House for sale in Kheri',
       '6 Bedroom House for sale in Madanpuri',
       '7 Bedroom House for sale in DLF Phase 3',
       '5 Bedroom House for sale in Sohna Road',
       '3 Bedroom House for sale in Dayanand Colony',
       '2 Bedroom House for sale in Mohan Nagar',
       '2 Bedroom House for sale in Daulatabad',
       '5 Bedroom House for sale in Ashok Vihar Phase 3 Extension',
       '2 Bedroom House for sale in Vishnu Garden',
       '4 Bedroom House for sale in DLF Phase 1',
       '8 Bedroom House for sale in New Basti',
       '4 Bedroom House for sale in Shivaji Nagar',
       '8 Bedroom House for sale in Manesar',
       '4 Bedroom House for sale in New Colony',
       '4 Bedroom House for sale in Sector 8 Gurgaon',
       '3 Bedroom House for sale in Ashok Vihar',
       '4 Bedroom House for sale in Maruti Kunj',
       '5 Bedroom House for sale in Laxmi Garden',
       '4 Bedroom House for sale in Mohan Nagar',
       '1 Bedroom House for sale in Sector 9B Gurgaon',
       '6 Bedroom House for sale in Saraswati Vihar',
       '8 Bedroom House for sale in IMT Manesar',
       '2 Bedroom House for sale in Bhora Kalan',
       '9 Bedroom House for sale in near nand hospital',
       '8 Bedroom House for sale in DLF Phase 1',
       '10 Bedroom House for sale in Shivpuri',
       '4 Bedroom House for sale in Sector 92 Gurgaon',
       '4 Bedroom House for sale in Sector 76 Gurgaon',
       '5 Bedroom House for sale in Sector 72 Gurgaon',
       '5 Bedroom House for sale in Jyoti Park',
       '3 Bedroom House for sale in Sohna',
       '4 Bedroom House for sale in Subhash Nagar',
       '2 Bedroom House for sale in New Palam Vihar',
       '6 Bedroom House for sale in Palam Vihar',
       '2 Bedroom House for sale in Surat Nagar Phase 2',
       '3 Bedroom House for sale in Sector 14 Gurgaon',
       '5 Bedroom House for sale in Sector 33 Gurgaon',
       '8 Bedroom House for sale in Sector 56 Gurgaon',
       '3 Bedroom House for sale in Sector 93 Gurgaon',
       '5 Bedroom House for sale in Sector 5 Gurgaon',
       '4 Bedroom House for sale in Rajendra Park',
       '10 Bedroom House for sale in Rajiv Nagar',
       '5 Bedroom House for sale in Madanpuri',
       '3 Bedroom House for sale in New Palam Vihar Phase 1',
       '6 Bedroom House for sale in Arjun Nagar',
       '4 Bedroom House for sale in Ashok Vihar Phase I',
       '2 Bedroom House for sale in Sector 5 Gurgaon',
       '5 Bedroom House for sale in Surya Vihar',
       '6 Bedroom House for sale in Block H Ashok Vihar Phase III Extension',
       '3 Bedroom House for sale in Devilal Colony',
       '10 Bedroom House for sale in Sector 38 Gurgaon',
       '3 Bedroom House for sale in Surya Vihar',
       '6 Bedroom House for sale in Prem Nagar',
       '6 Bedroom House for sale in Bhim Nagar',
       '7 Bedroom House for sale in Surat Nagar',
       '5 Bedroom House for sale in Gandhi Nagar',
       '5 Bedroom House for sale in Khandsa',
       '1 Bedroom House for sale in Ashok Vihar Phase 3 Extension',
       '5 Bedroom House for sale in Ravi Nagar',
       '3 Bedroom House for sale in Maruti Kunj',
       '7 Bedroom House for sale in Rajendra Park',
       '5 Bedroom House for sale in Sector 50 Gurgaon',
       '4 Bedroom House for sale in URBAN ESTATE, SECTOR 5',
       '3 Bedroom House for sale in New Palam Vihar Phase 2',
       '36 Bedroom House for sale in West Rajiv Nagar',
       '2 Bedroom House for sale in Ashok Vihar Phase 3 Extension',
       '6 Bedroom House for sale in Surat Nagar Phase 2',
       '6 Bedroom House for sale in Sector 11 Gurgaon',
       '5 Bedroom House for sale in Vishnu Garden',
       '3 Bedroom House for sale in Sushant Lok Phase 3',
       '4 Bedroom House for sale in Near Khandsa Road',
       '2 Bedroom House for sale in Devilal Colony',
       '9 Bedroom House for sale in Sheetla Colony',
       '5 Bedroom House for sale in Laxman Vihar',
       '6 Bedroom House for sale in Farukhnagar',
       '10 Bedroom House for sale in Ravi Nagar',
       '1 Bedroom House for sale in Mianwali Colony',
       '2 Bedroom House for sale in Sector 8 Gurgaon',
       '3 Bedroom House for sale in Dharam Colony',
       '4 Bedroom House for sale in Palam Vihar',
       '4 Bedroom House for sale in Part 3 Sector 5 Gurgaon',
       '1 Bedroom House for sale in Sohna',
       '3 Bedroom House for sale in Sector 38 Gurgaon',
       '4 Bedroom House for sale in Saraswati Vihar',
       '4 Bedroom House for sale in Sector 63 Gurgaon',
       '7 Bedroom House for sale in Lucknow',
       '4 Bedroom House for sale in Pataudi Road',
       '8 Bedroom House for sale in Surya Vihar',
       '4 Bedroom House for sale in Ravi Nagar',
       '5 Bedroom House for sale in Sector 81 Gurgaon',
       '9 Bedroom House for sale in Subhash Nagar',
       '2 Bedroom House for sale in Sector 56 Gurgaon',
       '6 Bedroom House for sale in Sector 70 Gurgaon',
       '3 Bedroom House for sale in Sector 105 Gurgaon',
       '12 Bedroom House for sale in Malibu Town',
       '5 Bedroom House for sale in Sector 28 Gurgaon',
       '3 Bedroom House for sale in Sector 66 Gurgaon',
       '9 Bedroom House for sale in C Block Sushant Lok Phase 1',
       '5 Bedroom House for sale in Bhim Nagar',
       '4 Bedroom House for sale in Jyoti Park',
       '6 Bedroom House for sale in Nirvana Country',
       '9 Bedroom House for sale in Sector 12 Gurgaon',
       '4 Bedroom House for sale in Laxman Vihar',
       '6 Bedroom House for sale in Laxman Vihar',
       '2 Bedroom House for sale in Shakti Nagar',
       '5 Bedroom House for sale in Sector 37D Gurgaon',
       '2 Bedroom House for sale in Baldev Nagar',
       '2 Bedroom House for sale in Shivpuri',
       '4 Bedroom House for sale in New Basti',
       '10 Bedroom House for sale in Sector 56 Gurgaon',
       '1 Bedroom House for sale in Rajiv Nagar',
       '6 Bedroom House for sale in Acharya Puri',
       '10 Bedroom House for sale in Bhondsi',
       '2 Bedroom House for sale in Sector 105 Gurgaon',
       '3 Bedroom House for sale in Arjun Nagar',
       '3 Bedroom House for sale in DLF Phase 2',
       '4 Bedroom House for sale in Sector 108 Gurgaon',
       '6 Bedroom House for sale in Ashok Vihar Phase 3 Extension',
       '2 Bedroom House for sale in Garhi Harsaru',
       '2 Bedroom House for sale in Palam Vihar Extension',
       '2 Bedroom House for sale in Rajiv Nagar',
       '7 Bedroom House for sale in Surya Vihar',
       '4 Bedroom House for sale in Pratap Nagar',
       '34 Bedroom House for sale in Manohar Nagar',
       '4 Bedroom House for sale in Sohna',
       '4 Bedroom House for sale in Sector 52 Gurgaon',
       '4 Bedroom House for sale in Arjun Nagar',
       '4 Bedroom House for sale in Vir Nagar',
       '2 Bedroom House for sale in Madanpuri',
       '5 Bedroom House for sale in Sector 82A Gurgaon',
       '3 Bedroom House for sale in Bhim Nagar',
       '4 Bedroom House for sale in Surat Nagar 1',
       '1 Bedroom House for sale in Hno 13 Sagar enclave Sura',
       '2 Bedroom House for sale in Sector 13 Gurgaon',
       '2 Bedroom House for sale in Sector 17A Gurgaon',
       '3 Bedroom House for sale in New Palam Vihar',
       '4 Bedroom House for sale in Ram Nagar',
       '3 Bedroom House for sale in Baldev Nagar',
       '5 Bedroom House for sale in Block G Sector-57 Gurgaon',
       '2 Bedroom House for sale in Sheetla Colony',
       '2 Bedroom House for sale in Pratap Nagar',
       '5 Bedroom House for sale in Sector 39 Gurgaon',
       '6 Bedroom House for sale in Sector 17 Gurgaon',
       '9 Bedroom House for sale in Palam Vihar',
       '4 Bedroom House for sale in Krishna Colony',
       '4 Bedroom House for sale in Sector 3 Gurgaon',
       '8 Bedroom House for sale in Sector 12A Gurgaon',
       '3 Bedroom House for sale in Farukhnagar',
       '8 Bedroom House for sale in Laxman Vihar',
       '4 Bedroom House for sale in Sector 6 Gurgaon',
       '2 Bedroom House for sale in Laxman Vihar',
       '4 Bedroom House for sale in Sector 10A Gurgaon',
       '1 Bedroom House for sale in Sector 3A Gurgaon',
       '4 Bedroom House for sale in Sector 54 Gurgaon',
       '13 Bedroom House for sale in Surat Nagar 1',
       '3 Bedroom House for sale in Sector 70A Gurgaon',
       '5 Bedroom House for sale in Ashok Vihar Phase 2',
       '5 Bedroom House for sale in Subhash Nagar',
       '4 Bedroom House for sale in Sohna Road',
       '4 Bedroom House for sale in DLF Phase 4',
       '4 Bedroom House for sale in Om Nagar',
       '2 Bedroom House for sale in Bhawani Enclave',
       '5 Bedroom House for sale in Sector 108 Gurgaon',
       '4 Bedroom House for sale in Garhi Harsaru',
       '5 Bedroom House for sale in Anand Garden, Sector-105',
       '7 Bedroom House for sale in Saraswati Vihar',
       '9 Bedroom House for sale in Jacobpura',
       '1 Bedroom House for sale in Gurgaon Faridabad Road',
       '3 Bedroom House for sale in Sector 67 Gurgaon',
       '6 Bedroom House for sale in Sector 63A Gurgaon',
       '4 Bedroom House for sale in Tekchand Nagar',
       '2 Bedroom House for sale in Ashok Vihar Phase 3',
       '3 Bedroom House for sale in Ansal Plaza',
       '4 Bedroom House for sale in DLF Phase 5',
       '5 Bedroom House for sale in Sector 53 Gurgaon',
       "4 Bedroom House for sale in Ansal's Palam Vihar",
       '4 Bedroom House for sale in Prem Nagar',
       '5 Bedroom House for sale in Jacobpura Near Sadar Bazar',
       '14 Bedroom House for sale in DLF Phase 3',
       '3 Bedroom House for sale in Sector 104 Gurgaon',
       '10 Bedroom House for sale in Prem Nagar',
       '3 Bedroom House for sale in Manesar',
       '8 Bedroom House for sale in Saraswati Vihar',
       '3 Bedroom House for sale in Sector 89 Gurgaon',
       '6 Bedroom House for sale in Maruti Kunj',
       '5 Bedroom House for sale in Rajiv Nagar',
       '2 Bedroom House for sale in Surat Nagar 1',
       '5 Bedroom House for sale in Sector 3 Gurgaon',
       '7 Bedroom House for sale in Sector 3 Gurgaon',
       '4 Bedroom House for sale in Sector 14 Gurgaon',
       '2 Bedroom House for sale in Shivji Park Colony',
       '2 Bedroom House for sale in Patel Nagar',
       '6 Bedroom House for sale in Laxmi Garden',
       '2 Bedroom House for sale in Sector 31 Gurgaon',
       '3 Bedroom House for sale in Ashok Vihar Phase 2',
       '6 Bedroom House for sale in Rajendra Park',
       '4 Bedroom House for sale in Sector 69 Gurgaon',
       '6 Bedroom House for sale in Sector 31 Gurgaon',
       '2 Bedroom House for sale in Ravi Nagar',
       '12 Bedroom House for sale in Laxmi Garden',
       '8 Bedroom House for sale in DLF Phase 3',
       '1 Bedroom House for sale in Laxman Vihar',
       '3 Bedroom House for sale in Surat Nagar 1',
       '5 Bedroom House for sale in Laxman Vihar Phase 2',
       '6 Bedroom House for sale in Sector 50 Gurgaon',
       '4 Bedroom House for sale in Laxman Vihar Phase 2',
       '2 Bedroom House for sale in Sohna',
       '3 Bedroom House for sale in Sector 103 Gurgaon',
       '12 Bedroom House for sale in Rajiv Nagar',
       '4 Bedroom House for sale in Patel Nagar',
       '5 Bedroom House for sale in Sector 67 Gurgaon',
       '2 Bedroom House for sale in Sector 3A Gurgaon',
       '13 Bedroom House for sale in Sector 38 Gurgaon',
       '4 Bedroom House for sale in Udyog Vihar Phase 1',
       '2 Bedroom House for sale in Arjun Nagar',
       '9 Bedroom House for sale in Sector 52 Gurgaon',
       '3 Bedroom House for sale in Madanpuri',
       '4 Bedroom House for sale in Surat Nagar',
       '2 Bedroom House for sale in Mahalaxmi Garden, Rajendra Place',
       '4 Bedroom House for sale in Sector 103 Gurgaon',
       '4 Bedroom House for sale in Jacobpura',
       '5 Bedroom House for sale in Sector 7 Gurgaon',
       '9 Bedroom House for sale in Rattan Garden',
       '5 Bedroom House for sale in Mianwali Colony',
       '6 Bedroom House for sale in Sadar Bazar',
       '5 Bedroom House for sale in Dayanand Colony',
       '7 Bedroom House for sale in Naharpur Rupa',
       '4 Bedroom House for sale in DLF Phase 3',
       '9 Bedroom House for sale in Palam Vihar Extension',
       '9 Bedroom House for sale in Sector 23A Gurgaon',
       '7 Bedroom House for sale in Shakti Nagar',
       '6 Bedroom House for sale in Sector 47 Gurgaon',
       '5 Bedroom House for sale in Sector 11 Gurgaon',
       '1 Bedroom House for sale in Laxman Vihar, Railway Road,Gurgaon',
       '3 Bedroom House for sale in Mianwali Colony',
       '10 Bedroom House for sale in DLF Phase 4',
       '5 Bedroom House for sale in New Colony',
       '2 Bedroom House for sale in Sector 92 Gurgaon',
       '1 Bedroom House for sale in sector-5 sheetla colony',
       '2 Bedroom House for sale in Damdma',
       '5 Bedroom House for sale in Garhi Harsaru',
       '2 Bedroom House for sale in Rajendra Park',
       '1 Bedroom House for sale in Sector 8 Gurgaon',
       '7 Bedroom House for sale in Sector 11 Gurgaon',
       '5 Bedroom House for sale in Gurgaon, Delhi NCR',
       '2 Bedroom House for sale in New Jyoti Park',
       '6 Bedroom House for sale in Shivaji Nagar',
       '6 Bedroom House for sale in Sector 33 Gurgaon',
       '7 Bedroom House for sale in Sector 7 Gurgaon',
       '6 Bedroom House for sale in Sector 52 Gurgaon',
       '6 Bedroom House for sale in Sector 12A Gurgaon',
       '3 Bedroom House for sale in Gandhi Nagar',
       '3 Bedroom House for sale in Lajpat Nagar',
       '3 Bedroom House for sale in Sohna Gurgaon Road',
       '3 Bedroom House for sale in Jacobpura',
       '2 Bedroom House for sale in Mahavir pura',
       '7 Bedroom House for sale in Malibu Town',
       '2 Bedroom House for sale in Sohna Road',
       '10 Bedroom House for sale in Sector 39 Gurgaon',
       '2 Bedroom House for sale in Jacobpura',
       '5 Bedroom House for sale in Sector 37B Gurgaon',
       '1 Bedroom House for sale in Sector 39 Gurgaon',
       '2 Bedroom House for sale in Bhondsi',
       '4 Bedroom House for sale in G block DLF City Phase 1',
       '2 Bedroom House for sale in Manohar Nagar',

In [8]:
df[['before_in', 'after_in']] = df['property_name'].str.split('in', n=1, expand = True)

In [9]:
df.head()

,property_name,society,price,rate,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,...,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,before_in,after_in
0,5 Bedroom House for sale in Sector 70A Gurgaon,Bptp Visionnaire,5.25 Crore,"₹ 20,115/sq.ft.",(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,Servant Room,...,3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5...",5 Bedroom House for sale,Sector 70A Gurgaon
1,5 Bedroom House for sale in Sector 21A Faridabad,NaN,5.7 Crore,"₹ 105,751/sq.ft.",(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,"Store Room,Pooja Room,Servant Room",...,2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN,5 Bedroom House for sale,Sector 21A Faridabad
2,10 Bedroom House for sale in Sushant Lok Phase 1,NaN,2.1 Crore,"₹ 38,251/sq.ft.",(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,Servant Room,...,5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",10 Bedroom House for sale,Sushant Lok Phase 1
3,21 Bedroom House for sale in Sector 54 Gurgaon,NaN,5 Crore,"₹ 43,066/sq.ft.",(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,Servant Room,...,5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5...",21 Bedroom House for sale,Sector 54 Gurgaon
4,12 Bedroom House for sale in Sushant Lok Phase 1,NaN,3 Crore,"₹ 53,763/sq.ft.",(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,Others,...,5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",12 Bedroom House for sale,Sushant Lok Phase 1

In [10]:
df = df.drop(['property_name'], axis =1)
df = df.drop(['before_in'], axis =1)

In [11]:
df.rename(columns={
    'after_in' : 'adress'
}, inplace = True)

In [12]:
df = df.drop(['society'], axis =1)

In [13]:
df = df.drop(['address'], axis =1)

In [14]:
df[['num_core', 'core']] = df['price'].str.split('C', n=1, expand = True)

In [15]:
df = df.drop(['price'], axis =1)

In [16]:
df = df.drop(['core'], axis =1)

In [17]:
df.rename(columns={
    'num_core' : 'price(Cr)'
}, inplace = True)

In [18]:
df[['rate_r', 'rateo']] = df['rate'].str.split('₹', n=1, expand = True)

In [19]:
df = df.drop(['rate'], axis =1)
df = df.drop(['rate_r'], axis =1)

In [20]:
df[['rate_pr_sqrft', 'ratesqft']] = df['rateo'].str.split('/', n=1, expand = True)

In [21]:
df = df.drop(['ratesqft'], axis =1)

In [22]:
df = df.drop(['rateo'], axis =1)

In [23]:
df['additionalRoom'].value_counts()

additionalRoom
Servant Room                                     82
Pooja Room,Study Room,Servant Room,Store Room    63
Others                                           59
Pooja Room                                       38
Pooja Room,Study Room,Servant Room               34
Pooja Room,Study Room,Servant Room,Others        32
Store Room                                       31
Pooja Room,Servant Room                          24
Study Room                                       19
Study Room,Servant Room                          19
Servant Room,Store Room                          15
Pooja Room,Study Room                            11
Pooja Room,Store Room                            11
Pooja Room,Others                                11
Pooja Room,Store Room,Study Room,Servant Room     9
Servant Room,Pooja Room                           8
Servant Room,Others                               8
Pooja Room,Servant Room,Store Room                7
Study Room,Servant Room,Pooja Room,Store Room     7
Servant Room,Pooja Room,Store Room                7
Store Room,Servant Room                           6
Pooja Room,Servant Room,Others                    5
Servant Room,Study Room                           5
Servant Room,Study Room,Pooja Room,Store Room     5
Servant Room,Store Room,Pooja Room                5
Study Room,Pooja Room,Servant Room                5
Study Room,Servant Room,Store Room                4
Pooja Room,Servant Room,Study Room,Store Room     4
Study Room,Servant Room,Store Room,Pooja Room     4
Pooja Room,Study Room,Others                      4
Store Room,Pooja Room                             4
Pooja Room,Study Room,Store Room                  3
Study Room,Servant Room,Pooja Room                3
Study Room,Others                                 3
Study Room,Pooja Room,Servant Room,Store Room     3
Study Room,Pooja Room,Store Room,Servant Room     2
Pooja Room,Study Room,Store Room,Servant Room     2
Study Room,Servant Room,Others                    2
Store Room,Pooja Room,Study Room,Servant Room     2
Study Room,Pooja Room                             2
Store Room,Pooja Room,Study Room                  2
Store Room,Pooja Room,Servant Room                2
Servant Room,Study Room,Pooja Room                2
Servant Room,Study Room,Store Room,Pooja Room     2
Study Room,Pooja Room,Store Room                  2
Study Room,Store Room                             1
Study Room,Store Room,Pooja Room                  1
Store Room,Pooja Room,Servant Room,Study Room     1
Servant Room,Store Room,Study Room,Pooja Room     1
Store Room,Servant Room,Study Room,Pooja Room     1
Pooja Room,Store Room,Servant Room                1
Servant Room,Others,Pooja Room                    1
Study Room,Store Room,Servant Room,Pooja Room     1
Store Room,Study Room,Servant Room                1
Store Room,Servant Room,Pooja Room                1
Study Room,Others,Servant Room                    1
Name: count, dtype: int64

In [24]:

room_types = ['Pooja Room', 'Study Room', 'Servant Room', 'Store Room']

for room in room_types:
    df[room] = df['additionalRoom'].str.contains(room, na=False)

In [25]:
df = df.drop(['additionalRoom'], axis =1)

In [26]:
df.head()

,area,areaWithType,bedRoom,bathroom,balcony,noOfFloor,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,adress,price(Cr),rate_pr_sqrft,Pooja Room,Study Room,Servant Room,Store Room
0,(242 sq.m.) Plot Area,Plot area 290(242.48 sq.m.),5 Bedrooms,4 Bathrooms,3+ Balconies,3 Floors,North-East,0 to 1 Year Old,"['Good Earth City Center 2', 'Kunskapsskolan I...",Do you wish to buy an independent house in sec...,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5...",Sector 70A Gurgaon,5.25,"20,115",False,False,True,False
1,(50 sq.m.) Plot Area,Plot area 539(50.07 sq.m.),5 Bedrooms,4 Bathrooms,2 Balconies,2 Floors,NaN,5 to 10 Year Old,NaN,"Hi, we have an independent house/villa availab...","['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN,Sector 21A Faridabad,5.7,"105,751",True,False,True,True
2,(51 sq.m.) Plot Area,Plot area 61(51 sq.m.),10 Bedrooms,10 Bathrooms,3+ Balconies,5 Floors,West,0 to 1 Year Old,"['Sector 42-43 metro station', 'Huda city cent...","Monthly rental income is rs1,40,000/- Best opt...","['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",Sushant Lok Phase 1,2.1,"38,251",False,False,True,False
3,(108 sq.m.) Plot Area,Plot area 129(107.86 sq.m.),21 Bedrooms,21 Bathrooms,3+ Balconies,5 Floors,North,1 to 5 Year Old,"['Sector 53-54 metro station', 'Sector 54 chow...","129 sq yd plot size. 5 floors built up , fully...","['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5...",Sector 54 Gurgaon,5,"43,066",False,False,True,False
4,(52 sq.m.) Plot Area,Plot area 62(51.84 sq.m.),12 Bedrooms,12 Bathrooms,3+ Balconies,5 Floors,West,Within 6 months,"['Sector 42-43 metro station', 'Huda city cent...",Best for investment purpose. Fully furnished b...,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",Sushant Lok Phase 1,3,"53,763",False,False,False,False

In [27]:
df[['area_', 'arenum']] = df['area'].str.split('(', n=1, expand = True)

In [28]:
df[['areanum_', 'are_']] = df['arenum'].str.split('sq', n=1, expand = True)

In [29]:
df = df.drop(['area'], axis =1)
df = df.drop(['area_'], axis =1)
df = df.drop(['arenum'], axis =1)
df = df.drop(['are_'], axis =1)

In [30]:
df.rename(columns ={
    'areanum_':'area_in_sqm'
}, inplace = True)

In [31]:
df[['area_type', '']] = df['areaWithType'].str.split('area', n=1, expand = True)

In [32]:
df = df.drop(['areaWithType'], axis =1)

In [33]:
df[['BedroomNo', 'be']] = df['bedRoom'].str.split('B', n=1, expand = True)

In [34]:
df[['NoOfFloor', 'f']] = df['noOfFloor'].str.split('F', n=1, expand = True)

In [35]:
df[['NoOfBathroom', 'ba']] = df['bathroom'].str.split('B', n=1, expand = True)
df[['NoOfBalcony', 'bal']] = df['balcony'].str.split('B', n=1, expand = True)

In [36]:
df = df.drop(['be'], axis =1)
df = df.drop(['ba'], axis =1)
df = df.drop(['bal'], axis =1)

In [37]:
df = df.drop(['bedRoom'], axis =1)
df = df.drop(['bathroom'], axis =1)
df = df.drop(['balcony'], axis =1)

In [38]:
df = df.drop(['f'], axis =1)

In [39]:
df = df.drop(['noOfFloor'], axis =1)

In [40]:
df['NoOfBalcony'] = df['NoOfBalcony'].replace({
    '3+ ': '4',
    'No ':'0'
})

In [41]:
df['agePossession'].unique()

array(['0 to 1 Year Old', '5 to 10 Year Old', '1 to 5 Year Old',
       'Within 6 months', '10+ Year Old', 'undefined', nan, 'Jun 2024',
       'Dec 2023', 'By 2027', 'Under Construction', 'Oct 2024', 'By 2024',
       'Dec 2024', 'Within 3 months', 'Oct 2023', 'Jan 2024'],
      dtype=object)

In [42]:
# Replace some values in a column
df['agePossession'] = df['agePossession'].replace({
    '0 to 1 Year Old': '6',
    '5 to 10 Year Old': '60',
    '1 to 5 Year Old': '48',
    'Within 6 months':'-6',
    '10+ Year Old' : '132',
    'undefined': '0',
    'Jun 2024' : '12',
    'Dec 2023' : '19',
    'By 2027' : '-18' ,
    'Under Construction' : '0',
    'Oct 2024' : '9',
    'By 2024' : '9',
    'Dec 2024' : '6',
    'Within 3 months' : '-3',
    'Oct 2023' : '21',
    'Jan 2024' : '18'   
})

In [43]:
df = df.rename(columns={'agePossession': 'age_in_months'})

In [44]:
df = df.drop(['nearbyLocations'], axis =1)

In [45]:
df = df.drop([''], axis =1)

In [46]:
#df['description'].unique()

In [47]:
df = df.drop(['description'], axis =1)

In [48]:
df.head()

,facing,age_in_months,furnishDetails,features,rating,adress,price(Cr),rate_pr_sqrft,Pooja Room,Study Room,Servant Room,Store Room,area_in_sqm,area_type,BedroomNo,NoOfFloor,NoOfBathroom,NoOfBalcony
0,North-East,6,"['1 Wardrobe', '1 Fan', '1 Exhaust Fan', '1 Ge...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment5 out of 5', 'Lifestyle4 out of 5...",Sector 70A Gurgaon,5.25,"20,115",False,False,True,False,242,Plot,5,3,4,4
1,NaN,60,"['1 Water Purifier', '5 Fan', '1 Exhaust Fan',...","['Private Garden / Terrace', 'Park', 'Visitor ...",NaN,Sector 21A Faridabad,5.7,"105,751",True,False,True,True,50,Plot,5,2,4,2
2,West,6,"['10 Bed', '3 Fan', '10 Geyser', '2 Light', 'N...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",Sushant Lok Phase 1,2.1,"38,251",False,False,True,False,51,Plot,10,5,10,4
3,North,48,"['1 Water Purifier', '21 Fan', '1 Fridge', '1 ...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4 out of 5', 'Lifestyle5 out of 5...",Sector 54 Gurgaon,5,"43,066",False,False,True,False,108,Plot,21,5,21,4
4,West,-6,"['1 Water Purifier', '1 Fridge', '12 Fan', '1 ...","['Maintenance Staff', 'Water Storage', 'Visito...","['Environment5 out of 5', 'Lifestyle5 out of 5...",Sushant Lok Phase 1,3,"53,763",False,False,False,False,52,Plot,12,5,12,4

In [49]:
df['furnishDetails'].value_counts()

furnishDetails
['1 Light', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']    86
[]                                                                                                                                                                                                                                                                      76
['1 Wardrobe', '1 Fan', '1 Light', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']      26
['1 Fan', '1 Light', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']      5
['1 Modular Kitchen', 'No AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Geyser', 'No Light', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']     5
                                                                                                                                                                                                                                                                        ..
['5 Wardrobe', '1 Water Purifier', '9 Fan', '1 Geyser', '1 Light', '8 AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine']          1
['1 Geyser', '2 AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Fan', 'No Modular Kitchen', 'No Light', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Wardrobe', 'No Washing Machine', 'No Water Purifier']      1
['6 Wardrobe', '1 Fan', '1 Light', '1 AC', 'No Bed', 'No Chimney', 'No Curtains', 'No Dining Table', 'No Exhaust Fan', 'No Geyser', 'No Modular Kitchen', 'No Microwave', 'No Fridge', 'No Sofa', 'No Stove', 'No TV', 'No Washing Machine', 'No Water Purifier']        1
['1 Water Purifier', '38 Fan', '1 Exhaust Fan', '1 Geyser', '100 Light', '1 Curtains', '1 Chimney', '1 Modular Kitchen', '7 Bed', '18 Wardrobe', '1 Sofa', 'No AC', 'No Dining Table', 'No Microwave', 'No Fridge', 'No Stove', 'No TV', 'No Washing Machine']           1
['1 Water Purifier', '10 Fan', '1 Fridge', '1 Exhaust Fan', '1 Dining Table', '5 Geyser', '1 Stove', '10 AC', '1 Chimney', '1 Modular Kitchen', '1 TV', '4 Wardrobe', '1 Sofa', '1 Microwave', 'No Bed', 'No Curtains', 'No Light', 'No Washing Machine']                1
Name: count, Length: 525, dtype: int64

In [50]:
# Keywords to check
keywords = {
    'ac': 'AC',
    'chimney': 'Chimney',
    'geyser': 'Geyser',
    'fridge': 'Fridge'
}

for col, word in keywords.items():
    df[col] = df['furnishDetails'].apply(
        lambda x: "No" if pd.isna(x) or f"No {word}" in str(x) or word not in str(x) else "Yes"
    )

In [51]:
df = df.drop(['furnishDetails'], axis =1)

In [52]:
# Create parking column based on features column
df['parking'] = df['features'].apply(
    lambda x: "Yes" if pd.notna(x) and "Parking" in str(x) else "No"
)

In [53]:
df = df.drop(['features'], axis =1)

In [54]:
df.head()

,facing,age_in_months,rating,adress,price(Cr),rate_pr_sqrft,Pooja Room,Study Room,Servant Room,Store Room,...,area_type,BedroomNo,NoOfFloor,NoOfBathroom,NoOfBalcony,ac,chimney,geyser,fridge,parking
0,North-East,6,"['Environment5 out of 5', 'Lifestyle4 out of 5...",Sector 70A Gurgaon,5.25,"20,115",False,False,True,False,...,Plot,5,3,4,4,Yes,Yes,Yes,No,Yes
1,NaN,60,NaN,Sector 21A Faridabad,5.7,"105,751",True,False,True,True,...,Plot,5,2,4,2,No,No,No,No,Yes
2,West,6,"['Environment5 out of 5', 'Lifestyle5 out of 5...",Sushant Lok Phase 1,2.1,"38,251",False,False,True,False,...,Plot,10,5,10,4,No,No,Yes,No,Yes
3,North,48,"['Environment4 out of 5', 'Lifestyle5 out of 5...",Sector 54 Gurgaon,5,"43,066",False,False,True,False,...,Plot,21,5,21,4,No,Yes,Yes,Yes,Yes
4,West,-6,"['Environment5 out of 5', 'Lifestyle5 out of 5...",Sushant Lok Phase 1,3,"53,763",False,False,False,False,...,Plot,12,5,12,4,No,No,Yes,Yes,Yes

In [55]:
#df['rating'].unique()

In [56]:
# Split the column into 4 parts by comma
df[['Env', 'Li', 'Co', 'Saf']] = df['rating'].str.split(',', expand=True)

In [57]:
df = df.drop(['rating'],axis =1)

In [58]:
df[['env', 'env2']] = df['Env'].str.split('out',expand = True)

In [59]:
df[['env3', 'Environment_Rating_outof5']] = df['env'].str.split('t',expand = True)

In [60]:
df = df.drop(['env','env2','env3','Env'], axis =1)

In [61]:
df[['li', 'li2']] = df['Li'].str.split('out',expand = True)

In [62]:
df[['li3', 'Lifestyle_Rating_outof5']] = df['li'].str.split('t',expand = True)

In [63]:
df[['li4', 'lifestyle_Rating_outof5']] = df['Lifestyle_Rating_outof5'].str.split('e',expand = True)

In [64]:
df = df.drop(['li','li2','li3','Li'], axis =1)

In [65]:
df = df.drop(['Lifestyle_Rating_outof5', 'li4'], axis =1)

In [66]:
df[['co', 'co2']] = df['Co'].str.split('out',expand = True)

In [67]:
df[['co3', 'Connectivity_Rating_outof5']] = df['co'].str.split('y',expand = True)

In [68]:
df = df.drop(['co','co2','co3','Co'], axis =1)

In [69]:
df[['sa', 'sa2']] = df['Saf'].str.split('out',expand = True)

In [70]:
df[['sa3', 'Safety_Rating_outof5']] = df['sa'].str.split('y',expand = True)

In [71]:
df = df.drop(['sa','sa2','sa3','Saf'], axis =1)

In [72]:
df = df.drop(['facing'], axis =1)

In [73]:
df.head()

,age_in_months,adress,price(Cr),rate_pr_sqrft,Pooja Room,Study Room,Servant Room,Store Room,area_in_sqm,area_type,...,NoOfBalcony,ac,chimney,geyser,fridge,parking,Environment_Rating_outof5,lifestyle_Rating_outof5,Connectivity_Rating_outof5,Safety_Rating_outof5
0,6,Sector 70A Gurgaon,5.25,"20,115",False,False,True,False,242,Plot,...,4,Yes,Yes,Yes,No,Yes,5,4,4,4
1,60,Sector 21A Faridabad,5.7,"105,751",True,False,True,True,50,Plot,...,2,No,No,No,No,Yes,NaN,NaN,NaN,NaN
2,6,Sushant Lok Phase 1,2.1,"38,251",False,False,True,False,51,Plot,...,4,No,No,Yes,No,Yes,5,5,5,5
3,48,Sector 54 Gurgaon,5,"43,066",False,False,True,False,108,Plot,...,4,No,Yes,Yes,Yes,Yes,4,5,4,4
4,-6,Sushant Lok Phase 1,3,"53,763",False,False,False,False,52,Plot,...,4,No,No,Yes,Yes,Yes,5,5,5,5

In [74]:
# Drop rows where price(Cr) is missing
df = df.dropna(subset=['price(Cr)'])

In [75]:
#df.to_csv('house_data.csv', index=False)

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 968 entries, 0 to 1043
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age_in_months               968 non-null    object
 1   adress                      968 non-null    object
 2   price(Cr)                   968 non-null    object
 3   rate_pr_sqrft               958 non-null    object
 4   Pooja Room                  968 non-null    bool
 5   Study Room                  968 non-null    bool
 6   Servant Room                968 non-null    bool
 7   Store Room                  968 non-null    bool
 8   area_in_sqm                 968 non-null    object
 9   area_type                   968 non-null    object
 10  BedroomNo                   968 non-null    object
 11  NoOfFloor                   948 non-null    object
 12  NoOfBathroom                968 non-null    object
 13  NoOfBalcony                 968 non-null    object
 14  ac                          968 non-null    object
 15  chimney                     968 non-null    object
 16  geyser                      968 non-null    object
 17  fridge                      968 non-null    object
 18  parking                     968 non-null    object
 19  Environment_Rating_outof5   847 non-null    object
 20  lifestyle_Rating_outof5     666 non-null    object
 21  Connectivity_Rating_outof5  847 non-null    object
 22  Safety_Rating_outof5        847 non-null    object
dtypes: bool(4), object(19)
memory usage: 155.0+ KB

In [77]:
cols = ['Pooja Room', 'Study Room', 'Servant Room', 'Store Room']

df[cols] = df[cols].applymap(lambda x: 1 if str(x).strip().lower() == 'true' else 0)

In [78]:
cols = ['ac', 'chimney', 'geyser', 'fridge', 'parking']

df[cols] = df[cols].applymap(lambda x: 1 if str(x).strip().lower() == 'yes' else 0)

In [79]:
df['area_type'].unique()

array(['Plot ', 'Built Up ', 'Carpet '], dtype=object)

In [80]:
replace ={
    'Plot ' :'1',
    'Built Up ' : '2',
    'Carpet ' : '3'
}
df['area_type'] = df['area_type'].replace(replace)

In [81]:
df['rate_pr_sqrft'] = df['rate_pr_sqrft'].str.replace(',','')

In [82]:
df.head()

,age_in_months,adress,price(Cr),rate_pr_sqrft,Pooja Room,Study Room,Servant Room,Store Room,area_in_sqm,area_type,...,NoOfBalcony,ac,chimney,geyser,fridge,parking,Environment_Rating_outof5,lifestyle_Rating_outof5,Connectivity_Rating_outof5,Safety_Rating_outof5
0,6,Sector 70A Gurgaon,5.25,20115,0,0,1,0,242,1,...,4,1,1,1,0,1,5,4,4,4
1,60,Sector 21A Faridabad,5.7,105751,1,0,1,1,50,1,...,2,0,0,0,0,1,NaN,NaN,NaN,NaN
2,6,Sushant Lok Phase 1,2.1,38251,0,0,1,0,51,1,...,4,0,0,1,0,1,5,5,5,5
3,48,Sector 54 Gurgaon,5,43066,0,0,1,0,108,1,...,4,0,1,1,1,1,4,5,4,4
4,-6,Sushant Lok Phase 1,3,53763,0,0,0,0,52,1,...,4,0,0,1,1,1,5,5,5,5

In [83]:
df['price(Cr)'].unique()

array(['5.25 ', '5.7 ', '2.1 ', '5 ', '3 ', '4.5 ', '12 ', '20 ',
       '10.85 ', '1.95 ', '4.45 ', '9 ', '15 ', '8.25 ', '2 ', '10.75 ',
       '7.35 ', '3.4 ', '8.4 ', '8.5 ', '7.6 ', '7 ', '4.75 ', '3.5 ',
       '10.56 ', '5.46 ', '10 ', '3.3 ', '13 ', '7.2 ', '6 ', '5.8 ',
       '55.11 Lac', '7.49 ', '13.5 ', '11.95 ', '12.39 ', '6.25 ', '5.4 ',
       '5.75 ', '2.55 ', '5.6 ', '17 ', '7.99 ', '3.75 ', '7.25 ',
       '3.55 ', '2.5 ', '6.5 ', '9.5 ', '5.5 ', '5.65 ', '8.8 ', '3.25 ',
       '10.45 ', '19.5 ', '7.5 ', '67 Lac', '3.2 ', '11.5 ', '7.69 ',
       '1.55 ', '3.85 ', '3.1 ', '2.25 ', '8.7 ', '12.5 ', '6.8 ', '6.2 ',
       '3.6 ', '3.05 ', '5.9 ', '5.85 ', '4 ', '5.35 ', '6.6 ', '6.3 ',
       '65 Lac', '55 Lac', '85 Lac', '58 Lac', '61 Lac', '7.05 ', '3.69 ',
       '6.95 ', '11.3 ', '11.25 ', '4.02 ', '1 ', '66 Lac', '70 Lac',
       '1.45 ', '95 Lac', '90 Lac', '45 Lac', '60 Lac', '3.93 ', '75 Lac',
       '2.75 ', '50 Lac', '42 Lac', '48 Lac', '35 Lac', '2.4 ', '2.2 ',
       '1.1 ', '8 ', '82 Lac', '1.3 ', '36 Lac', '80 Lac', '15.5 Lac',
       '2.8 ', '1.75 ', '1.16 ', '34 Lac', '1.5 ', '37 Lac', '1.15 ',
       '49 Lac', '1.6 ', '62 Lac', '4.12 ', '1.87 ', '1.2 ', '30 Lac',
       '1.35 ', '4.7 ', '22 Lac', '1.65 ', '2.3 ', '1.25 ', '1.7 ',
       'Price on Request', '3.12 ', '7.5 Lac', '2.58 ', '2.95 ', '16 ',
       '8.95 ', '14 ', '13.2 ', '51 Lac', '53 Lac', '63 Lac', '1.72 ',
       '1.8 ', '32 Lac', '78 Lac', '1.52 ', '1.05 ', '1.4 ', '5.15 ',
       '92 Lac', '52 Lac', '4.25 ', '1.85 ', '4.65 ', '6.1 ', '68 Lac',
       '1.07 ', '4.6 ', '5.2 ', '40 Lac', '4.3 ', '42.75 Lac', '47 Lac',
       '71 Lac', '38 Lac', '52.5 Lac', '1.44 ', '3.71 ', '18 Lac',
       '3.08 ', '10.5 ', '29 Lac', '24 Lac', '44 Lac', '83 Lac', '98 Lac',
       '3.35 ', '47.5 Lac', '3.09 ', '3.15 ', '74 Lac', '69 Lac', '2.43 ',
       '13 Lac', '96 Lac', '11 ', '18.02 ', '65.8 Lac', '1.9 ', '89 Lac',
       '1.34 ', '9.9 ', '2.15 ', '58.25 Lac', '46 Lac', '2.6 ', '3.87 ',
       '1.39 ', '59 Lac', '2.9 ', '6.75 ', '27 Lac', '8.1 ', '15.5 ',
       '14.75 ', '9.54 ', '10.55 ', '17.3 ', '3.65 ', '18.9 ', '24 ',
       '7.46 ', '59.95 Lac', '3.99 ', '6.81 ', '8.81 ', '8.9 ', '4.49 ',
       '22 ', '4.15 ', '19 ', '7.3 ', '18.5 ', '26 ', '4.35 ', '27.5 ',
       '8.31 ', '6.21 ', '1.83 ', '18 ', '5.1 ', '3.9 ', '2.01 ', '9.25 ',
       '5.88 ', '52.75 Lac', '46.75 Lac', '12.25 ', '6.4 ', '3.51 ',
       '9.4 ', '10.3 ', '8.45 ', '6.15 ', '2.47 ', '3.7 ', '18.4 ',
       '4.4 ', '99 Lac', '2.65 ', '1.27 ', '11.29 ', '8.49 ', '4.31 ',
       '11.58 ', '8.48 ', '8.2 ', '5.51 ', '3.49 ', '2.99 ', '9.19 ',
       '1.64 ', '9.35 ', '4.05 ', '8.75 ', '23 ', '2.45 ', '7.85 ', '25 ',
       '2.68 ', '2.7 ', '1.04 ', '9.85 ', '1.18 ', '15.1 ', '9.01 ',
       '9.8 ', '4.95 ', '4.99 ', '7.1 ', '8.6 ', '9.55 ', '2.35 ',
       '18.25 ', '5.3 ', '11.75 ', '10.8 ', '31.5 ', '4.1 ', '7.65 ',
       '6.46 ', '6.44 ', '7.8 ', '3.8 ', '7.45 ', '7.42 ', '6.09 ',
       '2.98 '], dtype=object)

In [84]:
df = df[df['price(Cr)'] != 'Price on Request'].reset_index(drop=True)

In [85]:
def convert_to_crore(value):
    if pd.isna(value):
        return None
    value = str(value).strip()
    
    # If value contains 'Lac', extract number and divide by 100
    if 'Lac' in value:
        num = float(value.replace('Lac', '').strip())
        return num / 100  # convert lakh to crore
    
    # If it's already in crores (numeric), just return as float
    return float(value)

# Apply to price(Cr) column
df['price(Cr)'] = df['price(Cr)'].apply(convert_to_crore)

In [86]:
df['Connectivity_Rating_outof5'] = df['Connectivity_Rating_outof5'].str.replace('le','', regex=False)

In [87]:
To_convert = [
    'rate_pr_sqrft', 'age_in_months', 'price(Cr)', 'Pooja Room', 'Study Room',
    'Servant Room', 'Store Room', 'area_in_sqm', 'BedroomNo', 'NoOfFloor',
    'ac', 'chimney', 'geyser', 'fridge', 'parking',
    'Environment_Rating_outof5', 'lifestyle_Rating_outof5',
    'Connectivity_Rating_outof5', 'Safety_Rating_outof5',
    'NoOfBathroom', 'NoOfBalcony'
]

df[To_convert] = df[To_convert].astype(float)

df['NoOfBathroom'] = df['NoOfBathroom'].astype(float)
df['NoOfBalcony'] = df['NoOfBalcony'].astype(float)

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age_in_months               958 non-null    float64
 1   adress                      958 non-null    object
 2   price(Cr)                   958 non-null    float64
 3   rate_pr_sqrft               958 non-null    float64
 4   Pooja Room                  958 non-null    float64
 5   Study Room                  958 non-null    float64
 6   Servant Room                958 non-null    float64
 7   Store Room                  958 non-null    float64
 8   area_in_sqm                 958 non-null    float64
 9   area_type                   958 non-null    object
 10  BedroomNo                   958 non-null    float64
 11  NoOfFloor                   938 non-null    float64
 12  NoOfBathroom                958 non-null    float64
 13  NoOfBalcony                 958 non-null    float64
 14  ac                          958 non-null    float64
 15  chimney                     958 non-null    float64
 16  geyser                      958 non-null    float64
 17  fridge                      958 non-null    float64
 18  parking                     958 non-null    float64
 19  Environment_Rating_outof5   838 non-null    float64
 20  lifestyle_Rating_outof5     657 non-null    float64
 21  Connectivity_Rating_outof5  838 non-null    float64
 22  Safety_Rating_outof5        838 non-null    float64
dtypes: float64(21), object(2)
memory usage: 172.3+ KB

In [89]:
features_with_na = [features for features in df.columns if df[features].isnull().sum()>=1]
for feature in features_with_na:
    print(feature, np.round(df[feature].isnull().mean()*100,5), '% missing values')

NoOfFloor 2.08768 % missing values
Environment_Rating_outof5 12.5261 % missing values
lifestyle_Rating_outof5 31.41962 % missing values
Connectivity_Rating_outof5 12.5261 % missing values
Safety_Rating_outof5 12.5261 % missing values

In [90]:
df[features_with_na].select_dtypes(exclude = 'object').describe()

,NoOfFloor,Environment_Rating_outof5,lifestyle_Rating_outof5,Connectivity_Rating_outof5,Safety_Rating_outof5
count,938.000000,838.000000,657.000000,838.000000,838.000000
mean,2.756930,4.319809,4.354642,4.566229,4.359189
std,2.931917,0.619082,0.497506,0.525428,0.521788
min,0.000000,3.000000,3.000000,3.000000,3.000000
25%,2.000000,4.000000,4.000000,4.000000,4.000000
50%,2.000000,4.000000,4.000000,5.000000,4.000000
75%,3.000000,5.000000,5.000000,5.000000,5.000000
max,51.000000,5.000000,5.000000,5.000000,5.000000

In [91]:
df.NoOfFloor.fillna(df.NoOfFloor.median(),inplace = True)
df.Environment_Rating_outof5.fillna(df.Environment_Rating_outof5.median(),inplace = True)
df.lifestyle_Rating_outof5.fillna(df.lifestyle_Rating_outof5.median(),inplace = True)
df.Connectivity_Rating_outof5.fillna(df.Connectivity_Rating_outof5.median(),inplace = True)
df.Safety_Rating_outof5.fillna(df.Safety_Rating_outof5.median(),inplace = True)

In [92]:
df.isnull().sum()

age_in_months                 0
adress                        0
price(Cr)                     0
rate_pr_sqrft                 0
Pooja Room                    0
Study Room                    0
Servant Room                  0
Store Room                    0
area_in_sqm                   0
area_type                     0
BedroomNo                     0
NoOfFloor                     0
NoOfBathroom                  0
NoOfBalcony                   0
ac                            0
chimney                       0
geyser                        0
fridge                        0
parking                       0
Environment_Rating_outof5     0
lifestyle_Rating_outof5       0
Connectivity_Rating_outof5    0
Safety_Rating_outof5          0
dtype: int64

Feature Engineering

In [93]:
x = df.drop(['price(Cr)'], axis =1)
y = df['price(Cr)']

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 958 entries, 0 to 957
Data columns (total 23 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   age_in_months               958 non-null    float64
 1   adress                      958 non-null    object
 2   price(Cr)                   958 non-null    float64
 3   rate_pr_sqrft               958 non-null    float64
 4   Pooja Room                  958 non-null    float64
 5   Study Room                  958 non-null    float64
 6   Servant Room                958 non-null    float64
 7   Store Room                  958 non-null    float64
 8   area_in_sqm                 958 non-null    float64
 9   area_type                   958 non-null    object
 10  BedroomNo                   958 non-null    float64
 11  NoOfFloor                   958 non-null    float64
 12  NoOfBathroom                958 non-null    float64
 13  NoOfBalcony                 958 non-null    float64
 14  ac                          958 non-null    float64
 15  chimney                     958 non-null    float64
 16  geyser                      958 non-null    float64
 17  fridge                      958 non-null    float64
 18  parking                     958 non-null    float64
 19  Environment_Rating_outof5   958 non-null    float64
 20  lifestyle_Rating_outof5     958 non-null    float64
 21  Connectivity_Rating_outof5  958 non-null    float64
 22  Safety_Rating_outof5        958 non-null    float64
dtypes: float64(21), object(2)
memory usage: 172.3+ KB

In [95]:
x.head()

,age_in_months,adress,rate_pr_sqrft,Pooja Room,Study Room,Servant Room,Store Room,area_in_sqm,area_type,BedroomNo,...,NoOfBalcony,ac,chimney,geyser,fridge,parking,Environment_Rating_outof5,lifestyle_Rating_outof5,Connectivity_Rating_outof5,Safety_Rating_outof5
0,6.0,Sector 70A Gurgaon,20115.0,0.0,0.0,1.0,0.0,242.0,1,5.0,...,4.0,1.0,1.0,1.0,0.0,1.0,5.0,4.0,4.0,4.0
1,60.0,Sector 21A Faridabad,105751.0,1.0,0.0,1.0,1.0,50.0,1,5.0,...,2.0,0.0,0.0,0.0,0.0,1.0,4.0,4.0,5.0,4.0
2,6.0,Sushant Lok Phase 1,38251.0,0.0,0.0,1.0,0.0,51.0,1,10.0,...,4.0,0.0,0.0,1.0,0.0,1.0,5.0,5.0,5.0,5.0
3,48.0,Sector 54 Gurgaon,43066.0,0.0,0.0,1.0,0.0,108.0,1,21.0,...,4.0,0.0,1.0,1.0,1.0,1.0,4.0,5.0,4.0,4.0
4,-6.0,Sushant Lok Phase 1,53763.0,0.0,0.0,0.0,0.0,52.0,1,12.0,...,4.0,0.0,0.0,1.0,1.0,1.0,5.0,5.0,5.0,5.0

In [96]:
y

0      5.25
1      5.70
2      2.10
3      5.00
4      3.00
       ...
953    5.50
954    4.25
955    4.50
956    3.25
957    3.60
Name: price(Cr), Length: 958, dtype: float64

In [97]:
num_features = x.select_dtypes(exclude = 'object').columns
onehot_columns = ['adress','area_type']

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder(drop = 'first')

preprocessor = ColumnTransformer (
    [
        ("OneHotEncoder", oh_transformer, onehot_columns),
        ("StandardScaler", numeric_transformer, num_features)
    ], remainder = "passthrough"
)

In [98]:
x = preprocessor.fit_transform(x)

In [99]:
x

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 20311 stored elements and shape (958, 245)>

In [100]:
from sklearn.model_selection import train_test_split

In [101]:
x_train,x_test,y_train,y_test = train_test_split(x,y, test_size =0.3, random_state =42)

Model Training

In [102]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import r2_score, accuracy_score, mean_absolute_error

In [103]:
models = {
    "Linear Regression": LinearRegression(),
    "Lasso": Lasso(),
    "Ridge": Ridge(),
    "RandomForestRegressor": RandomForestRegressor(),
    "K Neighbors Regressor": KNeighborsRegressor(),
    "Decision Tree Regressor": DecisionTreeRegressor(),
    "Gradient Boosting" : GradientBoostingRegressor()
}

In [104]:
for i in range(len(list(models))):
    model = list(models.values())[i]

In [105]:
model.fit(x_train,y_train)

GradientBoostingRegressor()

In [106]:
y_train_pred = model.predict(x_train)
y_test_pred = model.predict(x_test)

In [107]:
r2_train = r2_score(y_train, y_train_pred)
r2_test = r2_score(y_test, y_test_pred)

In [108]:
from sklearn.metrics import r2_score

for name, model in models.items():
    model.fit(x_train, y_train)   # Fit model
    
    y_train_pred = model.predict(x_train)  # Train predictions
    y_test_pred = model.predict(x_test)    # Test predictions
    
    print(f"Model: {name}")
    print(f"  R2 Score (Train): {r2_score(y_train, y_train_pred):.4f}")
    print(f"  R2 Score (Test):  {r2_score(y_test, y_test_pred):.4f}")
    print("-" * 40)

Model: Linear Regression
  R2 Score (Train): 0.7314
  R2 Score (Test):  0.4722
----------------------------------------
Model: Lasso
  R2 Score (Train): 0.3744
  R2 Score (Test):  0.3763
----------------------------------------
Model: Ridge
  R2 Score (Train): 0.7140
  R2 Score (Test):  0.6097
----------------------------------------
Model: RandomForestRegressor
  R2 Score (Train): 0.9876
  R2 Score (Test):  0.8568
----------------------------------------
Model: K Neighbors Regressor
  R2 Score (Train): 0.6706
  R2 Score (Test):  0.3880
----------------------------------------
Model: Decision Tree Regressor
  R2 Score (Train): 1.0000
  R2 Score (Test):  0.7923
----------------------------------------
Model: Gradient Boosting
  R2 Score (Train): 0.9903
  R2 Score (Test):  0.8721
----------------------------------------

Hyperparameter Tuning

In [109]:
gb_params = {
    "n_estimators": [500,2,10,100,50],
    "max_depth": [4,6,8,10, None],
    "min_samples_split": [5,2,8,20]
}
rf_params = {
    'n_estimators' :[2,3,10,20,40],
    'max_depth' :[5,7,8,10, None],
    'min_samples_split' : [2,8,15,20]
}

In [110]:
randomcv_models = [('GB', GradientBoostingRegressor(), gb_params),
                   ('Random Forest', RandomForestRegressor(), rf_params)
                    ]

In [111]:
from sklearn.model_selection import RandomizedSearchCV
model_param = {}

for name, model, params in randomcv_models:
    random = RandomizedSearchCV(estimator=model,
                                   param_distributions=params,
                                   n_iter=100,
                                   cv=3,
                                   verbose=2,
                                   n_jobs=-1)
    random.fit(x_train, y_train)
    model_param[name] = random.best_params_

for model_name in model_param:
    print(f"---------------- Best Params for {model_name} -------------------")
    print(model_param[model_name])

Fitting 3 folds for each of 100 candidates, totalling 300 fits
Fitting 3 folds for each of 100 candidates, totalling 300 fits
---------------- Best Params for GB -------------------
{'n_estimators': 500, 'min_samples_split': 5, 'max_depth': 4}
---------------- Best Params for Random Forest -------------------
{'n_estimators': 20, 'min_samples_split': 2, 'max_depth': None}

Choosing Best Model among Gradient Boosting and Random Forest

In [112]:
from sklearn.ensemble import GradientBoostingRegressor

GB = GradientBoostingRegressor(
    n_estimators=500,
    min_samples_split=2,
    max_depth=6
)

In [113]:
GB.fit(x_train, y_train)

GradientBoostingRegressor(max_depth=6, n_estimators=500)

In [114]:
y_test_pred = GB.predict(x_test)
y_train_pred = GB.predict(x_train)

In [115]:
training_accuracy = r2_score(y_train, y_train_pred)
training_accuracy

0.9999868001912288

In [116]:
testing_accuracy = r2_score(y_test, y_test_pred)
testing_accuracy

0.8702510643538744

In [117]:
from sklearn.ensemble import RandomForestRegressor

RF = RandomForestRegressor(
    n_estimators=40,
    min_samples_split=8,
    max_depth=10
)

In [118]:
RF.fit(x_train, y_train)

RandomForestRegressor(max_depth=10, min_samples_split=8, n_estimators=40)

In [119]:
y_test_pred = RF.predict(x_test)
y_train_pred = RF.predict(x_train)

In [120]:
training_accuracy = r2_score(y_train, y_train_pred)
training_accuracy

0.9776329225288624

In [121]:
testing_accuracy = r2_score(y_test, y_test_pred)
testing_accuracy

0.8455000819805968